@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
     font-family: "Montserrat", sans-serif;
}
nav {
     display: flex;
     justify-content: space-between;
     background: #1c2833;
     height: 90px;
     width: 100%;
     padding:10px 60px;
     align-items: center;
     color: aliceblue;
}
.logo h2{
     font-size: 40px;
     font-weight: bold;
     letter-spacing: 1.1;
}
nav ul {
     display: flex;
     text-align: center;
}
nav ul li {
     margin-right: 20px;
     list-style: none;
     font-size: 20px;
}
nav ul li a {
     text-decoration: none;
     padding: 10px 10px;
     border-radius: 5px;
     font-weight: bold;
     color: aliceblue;
     transition: 0.5s;
     text-transform: uppercase;
}

nav ul li a:hover, .active{
     background: #907f7f;
}

#click {
     display: none;
}
.menu-btn {
     color: #fff;
     font-size: 30px;
     cursor: pointer;
     display: none;
}


/* hearder area style  */

header{
     background-image: url(hero.png);
     height: 85vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

}



/* service area style  */

#first_section {
     background-color: #16213E;
}
#parent_div {
     width: 1200px;
     margin: auto;
     display: grid;
     grid-gap: 30px;
     grid-template-columns: repeat(3, 1fr);
     padding-top: 60px;
     padding-bottom: 40px;
}
.title {
     font-size: 50px;
     text-align: center;
     padding-top: 40px;
     color: #fff;
}

.single_area {
     padding: 40px 40px;
     text-align: center;
     color: #070707;
     background: #fff;
     border-radius: 5px;
     box-shadow: 0 -20px 10px -20px rgba(0,0,0,0.45) inset, -20px 0 10px -20px rgba(0,0,0,0.45) inset;
}
     
.single_area h2 {
     padding: 15px;
     font-size: 35px;
     font-weight: bold;
}
.single_area i {
     font-size: 40px;
     font-weight: bold;
}
.single_area p {
     font-size: 20px;
}












/* responsive area */

@media only screen and (max-width: 940px){
     .menu-btn {
          display: block;
     }
     #click:checked ~ ul {
          left: 0%;
     } 
     #click:checked ~ .menu-btn i::before {
          content: "\f00d";
     }
     nav ul {
          position: fixed;
          top: 90px;
          background: #1c2833;
          left: -100%;
          height: 100vh;
          width: 100%;
          flex-direction: column;
          transition: all 1.5s ease;
     }
     nav ul li {
          margin: 35px;
     }
     nav ul li a:hover{
          background: none;
     }

}